<ion-header>
  <ion-toolbar mode="ios" color="dark">
    <ion-buttons slot="start">
      <ion-back-button text=""> </ion-back-button>
    </ion-buttons>
    <ion-title>{{query}}</ion-title>
    <ion-buttons slot="end">
      <ion-spinner name="crescent" [hidden]="!isLoading" color="light"></ion-spinner>
      <ion-button color="light" routerLink="/tabs">
        <ion-icon slot="icon-only" name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-poster-list [data]="animes" [server]="server" path="/episodes" [hidden]="emptyState"></app-poster-list>
  <app-empty-state *ngIf="emptyState" [icon]="emptyState.icon" [title]="emptyState.title" [message]="emptyState.message"></app-empty-state>
</ion-content>
