<ion-header>
  <ion-toolbar mode="ios" color="dark">
    <ion-buttons slot="start">
      <ion-back-button text=""> </ion-back-button>
    </ion-buttons>
    <ion-title>{{query}}</ion-title>
    <ion-buttons slot="end">
      <ion-spinner name="crescent" [hidden]="!isLoading" color="light"></ion-spinner>
      <ion-button color="light" routerLink="/tabs">
        <ion-icon slot="icon-only" name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let anime of animes" [routerLink]="['/episodes',server, anime.url]">
      <ion-thumbnail slot="start" *ngIf="anime.poster">
        <ion-img [src]="anime.poster"></ion-img>
      </ion-thumbnail>
      <ion-label>{{anime.title}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
