<ion-header>
  <ion-toolbar mode="ios" color="dark">
    <ion-buttons slot="start">
      <ion-back-button text=""> </ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-spinner name="crescent" [hidden]="!isLoading" color="light"></ion-spinner>
      <ion-button color="light" routerLink="/tabs">
        <ion-icon slot="icon-only" name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="episode">
    <img [src]="episode.poster" *ngIf="episode.poster"/>
    <ion-card-header>
      <ion-card-title>{{episode.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <app-paginator [episode]="episode" [server]="server"></app-paginator>
      <ion-list *ngIf="episode.streams && episode.streams.length>0">
        <ion-list-header>
          <ion-label><h1>Ver</h1></ion-label>
        </ion-list-header>
        <ion-item *ngFor="let stream of episode.streams; let i = index">
          <ion-chip slot="start">
            <ion-label>{{i+1}}</ion-label>
          </ion-chip>
          <ion-label>
            {{getDomain(stream)}}
          </ion-label>

          <ion-button [href]="stream" fill="clear" color="dark" target="_blank" slot="end"  class="action-btn"><ion-icon name="arrow-redo-outline"></ion-icon></ion-button>

        </ion-item>
      </ion-list>
      <ion-list *ngIf="episode.links && episode.links.length>0">
        <ion-list-header>
          <ion-label><h1>Descargar</h1></ion-label>
        </ion-list-header>
        <ion-item *ngFor="let link of episode.links; let i = index">
          <ion-chip slot="start">
            <ion-label>{{i+1}}</ion-label>
          </ion-chip>
          <ion-label>
            {{getDomain(link)}}
          </ion-label>
          
          <ion-button fill="clear" color="dark" slot="end" class="action-btn" (click)="copyToClipboard(link)"><ion-icon name="clipboard-outline"></ion-icon></ion-button>

          <ion-button [href]="link" fill="clear" color="dark" target="_blank" slot="end"  class="action-btn"><ion-icon name="arrow-redo-outline"></ion-icon></ion-button>
          
        </ion-item>
      </ion-list>
      <ion-list *ngIf="pages.length>0">
        <img *ngFor="let page of pages; let i = index" [src]="page" [alt]="'page-'+(i+1)">
        <ion-infinite-scroll threshold="100px" (ionInfinite)="addPages($event)">
          <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Cargando mas paginas...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
        <app-paginator [episode]="episode" [server]="server"></app-paginator>
        
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>