<ion-header>
  <ion-toolbar mode="ios" color="dark">
    <ion-buttons slot="start">
      <ion-back-button text=""> </ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-spinner name="crescent" [hidden]="!isLoading" color="light"></ion-spinner>
      <ion-button color="light" routerLink="/tabs">
        <ion-icon slot="icon-only" name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="!episode">
    <ion-card-header>
      <ion-skeleton-text animated style="width: 75%; height: 30px;"></ion-skeleton-text>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size="4">
          <ion-skeleton-text animated style="width: 100%; height: 45px;"></ion-skeleton-text>
        </ion-col>
        <ion-col size="4">
          <ion-skeleton-text animated style="width: 100%; height: 45px;"></ion-skeleton-text>
        </ion-col>
        <ion-col size="4">
          <ion-skeleton-text animated style="width: 100%; height: 45px;"></ion-skeleton-text>
        </ion-col>
      </ion-row>
      <div class="custom-skeleton">
        <ion-skeleton-text animated style="width: 100%; height: 56vw" slot="start"></ion-skeleton-text>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="episode && !emptyState">
    <ion-card-header>
      <ion-card-title>{{episode.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <app-paginator [episode]="episode" [server]="server"></app-paginator>
      <iframe [hidden]="!streamUrl" [src]="streamUrl"></iframe>
      <img [src]="episode.poster" *ngIf="episode.poster" [hidden]="streamUrl"/>
      <ion-list *ngIf="episode.streams && episode.streams.length>0">
        <ion-list-header>
          <ion-label><h1>Ver</h1></ion-label>
        </ion-list-header>
        <ion-item *ngFor="let stream of episode.streams; let i = index">
          <ion-chip slot="start">
            <ion-label>{{i+1}}</ion-label>
          </ion-chip>
          <ion-label>
            {{getDomain(stream)}}
          </ion-label>
          <ion-button fill="clear" color="dark" slot="end" class="action-btn" (click)="playStream(stream)"><ion-icon name="play-outline"></ion-icon></ion-button>
          <ion-button (click)="openPage(getVideoPath+stream)" fill="clear" color="dark"  slot="end"  class="action-btn"><ion-icon name="arrow-redo-outline"></ion-icon></ion-button>

        </ion-item>
      </ion-list>
      <ion-list *ngIf="episode.links && episode.links.length>0">
        <ion-list-header>
          <ion-label><h1>Descargar</h1></ion-label>
        </ion-list-header>
        <ion-item *ngFor="let link of episode.links; let i = index">
          <ion-chip slot="start">
            <ion-label>{{i+1}}</ion-label>
          </ion-chip>
          <ion-label>
            {{getDomain(link)}}
          </ion-label>
          
          <ion-button fill="clear" color="dark" slot="end" class="action-btn" (click)="copyToClipboard(link)"><ion-icon name="clipboard-outline"></ion-icon></ion-button>

          <ion-button fill="clear" color="dark" slot="end"  class="action-btn" (click)="openPage(link)"><ion-icon name="arrow-redo-outline"></ion-icon></ion-button>
          
        </ion-item>
      </ion-list>
      <ion-list *ngIf="pages.length>0">
        <img *ngFor="let page of pages; let i = index" [src]="page" [alt]="'page-'+(i+1)">
        <ion-infinite-scroll threshold="100px" (ionInfinite)="addPages($event)">
          <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Cargando mas paginas...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
        <app-paginator [episode]="episode" [server]="server"></app-paginator>
        
      </ion-list>
    </ion-card-content>
  </ion-card>
  <app-empty-state *ngIf="emptyState" [icon]="emptyState.icon" [title]="emptyState.title" [message]="emptyState.message"></app-empty-state>
</ion-content>