<ion-content>
  <ion-searchbar placeholder="Buscar anime..." [(ngModel)]="query" (ionChange)="search()" enterkeyhint="search"
      autocomplete="on"></ion-searchbar>
  <ion-progress-bar type="indeterminate" [hidden]="!isLoading"></ion-progress-bar>
  <ion-item button detail="true" [routerLink]="['/season']">
    <ion-label>
      <h3>Animes de temporada</h3>
      <p>Lista de animes de la temporada actual, extraido de MyAnimeList</p>
    </ion-label>
  </ion-item>
  <br>
  <app-latest-list [data]="episodes" path="/episode" (update)="ngOnInit()"></app-latest-list>
</ion-content>
