<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet"
        href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
        <style>
            img {
                max-height: 100px;
            }
        </style>
</head>

<body ng-app="otakutime" ng-cloak ng-controller="MainCtrl as ctrl" layout="column">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 flex md-truncate>OtakuTime Tester</h2>
        </div>
    </md-toolbar>
    <div layout="row" flex="">
        <div layout="column" layout-padding="" flex="30">
            <md-input-container class="md-block">
                <label>URL Pagina</label>
                <input ng-model="ctrl.mainUrl">
            </md-input-container>
            <div layout="row">
                <md-button class="md-raised md-primary" ng-click="ctrl.loadPage()">Cargar pagina</md-button>
                <md-button class="md-raised md-primary" ng-click="ctrl.loadWordpress()">Wordpress</md-button>
            </div>
            <md-input-container class="md-block">
                <label>URL Imagen</label>
                <input ng-model="ctrl.ImageUrl">
            </md-input-container>
            <div layout="row">
                <div layout="column" flex>
                    <h3>Directo</h3>
                    <img ng-if="ctrl.ImageUrl" ng-src="{{ctrl.ImageUrl}}">
                </div>
                <div layout="column" flex>
                    <h3>Descarga</h3>
                    <img ng-if="ctrl.ImageUrl" ng-src="/image?url={{ctrl.ImageUrl}}">
                </div>
            </div>
        </div>
        <div layout="column" flex="">
            <md-tabs class="md-primary" md-center-tabs flex>
                <md-tab label="Pagina">
                    <md-content class="md-padding">
                        <div id="mainPage"></div>
                    </md-content>
                </md-tab>
                <md-tab label="Fuente">
                    <md-content class="md-padding" flex>
                        <pre>{{ctrl.mainSource}}</pre>
                    </md-content>
                </md-tab>
            </md-tabs>
        </div>
    </div>
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.14.0/beautify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.14.0/beautify-css.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.14.0/beautify-html.min.js"></script>

    <!-- Your application bootstrap  -->
    <script type="text/javascript">
        /**
         * You must include the dependency on 'ngMaterial' 
         */
        angular.module('otakutime', ['ngMaterial', 'ngMessages'])
            .controller('MainCtrl', function ($http) {
                this.mainUrl = "";
                const beautifyOptions = {
                    "indent_size": "2",
                    "indent_char": " ",
                    "max_preserve_newlines": "1",
                    "preserve_newlines": true,
                    "keep_array_indentation": true,
                    "break_chained_methods": true,
                    "indent_scripts": "separate",
                    "brace_style": "expand,preserve-inline",
                    "space_before_conditional": true,
                    "unescape_strings": true,
                    "jslint_happy": true,
                    "end_with_newline": true,
                    "wrap_line_length": "40",
                    "indent_inner_html": true,
                    "comma_first": true,
                    "e4x": true,
                    "indent_empty_lines": true
                };
                this.loadPage = () => {
                    $http.get("/getPage?url=" + this.mainUrl).then((res) => {
                        this.mainSource = html_beautify(res.data, beautifyOptions)
                        let div = angular.element(document.querySelector('#mainPage'))
                        div.empty()
                        div.append(res.data)
                    }, (err) => {
                        console.log(err)
                    });
                }
                this.loadWordpress = () => {
                    $http.get("/wordpress?url=" + this.mainUrl).then((res) => {
                        let data = JSON.stringify(res.data, null, 2)
                        this.mainSource = data
                        console.log()
                        let div = angular.element(document.querySelector('#mainPage'))
                        div.empty()
                        div.append(data)
                    }, (err) => {
                        console.log(err)
                    });
                }
            });
    </script>

</body>

</html>

<!--
Copyright 2016-2019 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be found in the LICENSE file at https://material.angularjs.org/latest/license.
-->