<ion-header>
  <ion-toolbar mode="ios" color="dark">
    <ion-buttons slot="start">
      <ion-back-button text=""> </ion-back-button>
    </ion-buttons>
    <ion-title>{{anime?.title}}</ion-title>
    <ion-buttons slot="end">
      <ion-spinner name="crescent" [hidden]="!isLoading" color="light"></ion-spinner>
      <ion-button color="light" routerLink="/tabs">
        <ion-icon slot="icon-only" name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngIf="anime?.poster">
        <img [src]="anime?.poster">
      </ion-col>
      <ion-col size="6">
        <div>
          <ion-chip color="secondary" *ngFor="let category of anime?.categories">
            <ion-label color="dark">{{category}}</ion-label>
          </ion-chip>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="ion-padding" *ngIf="anime">
    <ion-button [color]="this.favorites.isAdded(this.server,this.url)?'danger':'dark'" expand="block" (click)="this.favorites.addRemove(this.server, this.url, this.anime)">
      <span [hidden]="this.favorites.isAdded(this.server,this.url)">Agregar favorito 
        </span>
      <span [hidden]="!this.favorites.isAdded(this.server,this.url)">Quitar favorito
        </span>
    </ion-button>
    <p>{{anime?.synopsis}}</p>
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let extra of anime?.extras">
          {{extra.title}}: {{extra.content}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-list *ngIf="anime">
    <ion-list-header>
      <ion-label>
        <h1>Episodios</h1>
      </ion-label>
    </ion-list-header>
    <ion-item *ngFor="let episode of anime?.episodes" [routerLink]="['/episode',server, episode.url]">
      <ion-label>{{episode.title}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>