<ion-header>
  <ion-toolbar mode="ios" color="dark">
    <ion-buttons slot="start">
      <ion-back-button text=""> </ion-back-button>
    </ion-buttons>
    <ion-title>{{anime?.title}}</ion-title>
    <ion-buttons slot="end">
      <ion-spinner name="crescent" [hidden]="!isLoading" color="light"></ion-spinner>
      <ion-button color="light" routerLink="/tabs">
        <ion-icon slot="icon-only" name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div [hidden]="anime">
    <ion-grid>
      <ion-row class="custom-skeleton">
        <ion-col size="6">
          <ion-skeleton-text animated style="width: 100%; height: 56vw"></ion-skeleton-text>
        </ion-col>
        <ion-col size="6">
          <ion-row>
            <ion-col *ngFor="let size of [8,4,6,6,2,6,4,3,7]" [size]="size">
              <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div>
      <ion-skeleton-text animated style="width: 100%; height: 45px;"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 100%; height: 25px;" *ngFor="let item of [1,2,3,4]"></ion-skeleton-text>
    </div>
    <ion-list>
      <ion-list-header>
        <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
      </ion-list-header>
      <ion-item *ngFor="let link of [1,2,3,4]">
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </ion-item>
    </ion-list>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngIf="anime?.poster">
        <img [src]="anime?.poster">
      </ion-col>
      <ion-col size="6">
        <div>
          <ion-chip color="secondary" *ngFor="let category of anime?.categories">
            <ion-label color="dark">{{category}}</ion-label>
          </ion-chip>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="ion-padding" *ngIf="anime">
    <ion-button [color]="this.favorites.isAdded(this.server,this.url)?'danger':'dark'" expand="block" (click)="this.favorites.addRemove(this.server, this.url, this.anime)">
      <span [hidden]="this.favorites.isAdded(this.server,this.url)">Agregar favorito 
        </span>
      <span [hidden]="!this.favorites.isAdded(this.server,this.url)">Quitar favorito
        </span>
    </ion-button>
    <p>{{anime?.synopsis}}</p>
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let extra of anime?.extras">
          {{extra.title}}: {{extra.content}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-list *ngIf="anime">
    <ion-list-header>
      <ion-label>
        <h1>Episodios</h1>
      </ion-label>
    </ion-list-header>
    <ion-item *ngFor="let episode of anime?.episodes">
      <ion-label [routerLink]="['/episode',server, episode.url]">{{episode.title}}</ion-label>
      <ion-button slot="end" fill="clear" color="dark" (click)="toggleSeen(episode)">
        <ion-icon [name]="episode.seen?'eye-outline':'eye-off-outline'" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>