<ion-header>
  <ion-toolbar color="dark" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text=""> </ion-back-button>
    </ion-buttons>
    <ion-title>{{serverName}}</ion-title>
    <ion-buttons slot="end">
      <ion-spinner name="crescent" [hidden]="!isLoading" color="light"></ion-spinner>
      <ion-button color="light" routerLink="/tabs">
        <ion-icon slot="icon-only" name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar placeholder="Buscar anime..." [(ngModel)]="query" (ionChange)="search($event)" enterkeyhint="search"
      autocomplete="on"></ion-searchbar>
  <app-poster-list [data]="latest" [server]="server" path="/episode" [hidden]="emptyState"></app-poster-list>
  <app-empty-state *ngIf="emptyState" [icon]="emptyState.icon" [title]="emptyState.title"
    [message]="emptyState.message"></app-empty-state>
</ion-content>