<ion-header>
  <ion-toolbar color="dark" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text=""> </ion-back-button>
    </ion-buttons>
    <ion-title>Ultimos capitulos</ion-title>
    <ion-buttons slot="end">
      <ion-spinner name="crescent" [hidden]="!isLoading" color="light"></ion-spinner>
      <ion-button color="light" routerLink="/tabs">
        <ion-icon slot="icon-only" name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar placeholder="Buscar anime..." [(ngModel)]="query" (ionChange)="search($event)" enterkeyhint="search" autocomplete="on"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let episode of latest" [routerLink]="['/episode',server, episode.url]">
      <ion-thumbnail slot="start" *ngIf="episode.poster">
        <ion-img [src]="episode.poster"></ion-img>
      </ion-thumbnail>
      <ion-label>{{episode.title}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-list [hidden]="latest.length>0">
    <ion-item *ngFor="let size of skeleton">
      <ion-skeleton-text animated style="width: 57px; height: 57px" slot="start"></ion-skeleton-text>
      <ion-label>
        <ion-skeleton-text animated [ngStyle]="{'width': size}"></ion-skeleton-text>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
